	table, td{border:1px solid black;}
	h2{color:green;}
	h2#poisto{color:red;}
	.u{text-decoration:underline;}
	.virhe{color:red;}
	.virhe, .center{width:55%;margin-left:auto;}
	a#kayttajatunnus{color:#7da1a5; text-decoration:none;}
	a#kayttajatunnus:hover{color:#627e82; text-decoration:underline;}
	#main{margin:auto;}
	#navbar{margin-left:-35px;}
	#navbar>ul{list-style:none;}
	#navbar>ul>li{display:inline}
	#pt{padding:100px 0px 0px 170px; width:100px; color:#b7567b;}
	span#ptt{color:#7c7b74;}